/*NAMA: NANDA KALYCA VENEZIA
NIM: 1001240027
PRODI: SISTEM INFORMASI/SEMESTER 2*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --lg-font1: "Cormorant Garamond", serif;
  --lg-font2: "Marcellus", serif;
  --lg-font3: "Cinzel", serif;
  --sm-font1: "Poppins", sans-serif;
  --sm-font2: "Inter", sans-serif;
  --sm-font3: "Lora", serif;
  --red: #e5345b;
  --grey: #a1a7b3
}
body{
    font-family: var(--lg-font2);
}

/*button*/
.bg-primary{
   background-color: var(--red) !important;
  border: none;
}

.btn:not(.nav-btns button){
    background-color: #f9e7d9;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color: var(--grey);
    color: #fff;
    border-color: var(--grey);
}
/*text color*/
.text-rating {
    color: #D4A5A5 !important; /* Warna kuning emas */
}
.text-capitalize{
    font-family: var(--sm-font1);
}
.fw-bold{
    font-family: var(--sm-font2) ;
}

/*navbar*/
.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 1);
}
.nav-link:hover{
    color: var(--grey) !important;
}
.nav-item{
    border-bottom: 
    0.5px solid rgba(0, 0, 0, 0.05);
}

/*header*/
#header{
    background: url(/Image/Home3.png) top/cover no-repeat;
}

.courasel-item h1{
    font-size: 60px;
    font-family: var(--lg-font2); 
}
.courasel-item .btn{
    border-color: #fff !important;
}
.courasel-item .btn:hover{
    border-color: var(--grey) !important;
}

/*tittle*/
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 40px;
    background-color: #a1a7b3;
    left: -15px;
    transform: translateY(0.5px);
}



/*collection*/
.active-filter-btn{
    background-color: #D4A5A5 !important;
    color: #fff;
    border-color: var(--grey) !important;
}
.filter-button-btn{
    color: #fff !important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50px;
}

/*special*/
.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px !important;
}
.special-img img{
    transition: all 0.3s ease;
}
.special-img:hover img{
    transform: scale(1.2);
}

/*banner*/
.banner-sale {
  background-color: #123C69; /* warna biru tua */
  color: white;
  border-radius: 0;
}

.banner-sale p {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.banner-sale .btn {
  background-color: #f9e7d9;
  color: #000;
  border: none;
  font-weight: 500;
}

.banner-sale .btn:hover {
  background-color: #e4d0bb;
  color: #000;
}

/*abouut*/
#about{
    background-color: rgba(179, 179, 179, 0.05);
}

/*newsletter*/
#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}

#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
}
#newsletter .btn{
    background-color: var(--grey);
    color: #fff;
    border-color: var(--grey);
}
#newsletter .btn:hover{
    background-color: #000;
    border-color: #000;
}

/*footer*/
.bg-navy {
  background-color: #123C69; /* Warna biru tua */
}

.text-light {
  color: #d1d1d1 !important; /* Warna abu terang */
}


/*media queries*/
@media(min-widht: 99px){
    .nav-item{
        border-bottom: none;
    }
}